<!-- Start Hero Area -->
    <section class="hero-area overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="hero-text text-center">
                        <!-- Start Hero Text -->
                        <div class="section-heading">
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Innovative Design Systems</h2>
                            <p class="wow fadeInUp" data-wow-delay=".5s">Uyingiz, ofisingiz va har qanday bino shinamligi va jozibadorligini oshirishga xizmat qilamiz. <br>Biz bilan halol kelishuv, sifatli maxsulotlar va tezkor xizmat ko'rsatishni sinab ko'ring!</p>
                        </div>
                        <!-- End Search Form -->
                        <SearchFormComponent></SearchFormComponent>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->