<!-- Start Items Grid Area -->
<section class="items-grid section custom-padding">
    <div class="container">
        <ItemsGridHeaderComponent />

        <div class="single-head">
            <div class="row">
                @if (OnFocus is not null)
                {
                    @foreach (var model in Items)
                    {
                        <ItemCardComponent ItemModel="@model"></ItemCardComponent>
                    }
                }
                else
                {
                    @foreach (var model in Items)
                    {
                        <ItemCardComponent ItemModel="@model" />
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- End Items Grid Area -->

@code {

    [Parameter]
    public string OnFocus { get; set; }

    [Parameter]
    public List<ItemModel> ItemModels { get; set; }

    public List<ItemModel> Items { get; set; } = new List<ItemModel>();

    protected async override Task OnInitializedAsync()
    {
        if(OnFocus != null)
        {
            Items = ItemModels.Where(i => i.Title.Contains(OnFocus)
            || i.Tag.Contains(OnFocus)
            ||
            i.Category.Contains(OnFocus)
            ).ToList();
            Console.WriteLine(ItemModels);
        }
        else
        {
            Items = ItemModels;
        }
    }
}