<div class="col-lg-4 col-md-6 col-12">
    <!-- Start Single Grid -->
    <div class="single-grid wow fadeInUp card-item-component" data-wow-delay=".4s">
        <div class="image">
            <a class="thumbnail"><img src="/@(ItemModel.DetailImage)" alt="#"></a>
        </div>
        <div class="content">
            <div class="top-content">
                <a href="javascript:void(0)" class="tag">#@(ItemModel.Tag.Replace(" ", "_"))</a>
                <h3 class="title">
                    <a href="item-details.html">@(ItemModel.Title)</a>
                </h3>
                <p class="update-time">@(ItemModel.Description)</p>
            </div>
            <div class="bottom-content">
                <p class="price">Начинается с: <span>$@(ItemModel.Cost.ToString("0.00"))</span></p>
                @if(LocalStorageService.ContainKey(ItemModel.Id.ToString()))
                {
                    <button class="like change-like-status" @onclick="() => ChangeToUnlike(ItemModel.Id.ToString())"><i class="lni lni-heart"></i></button>
                }
                else
                {
                    <button class="like" @onclick="() => ChangeToLike(ItemModel.Id.ToString())"><i class="lni lni-heart"></i></button>
                }
            </div>
        </div>
    </div>
    <!-- End Single Grid -->
</div>