@using System.Text.Json
<!-- Start Items Grid Area -->
<section class="items-grid section custom-padding">
    <div class="container">
        @if(Items.Count == 0)
        {
            <ItemsNotFoundComponent />
        }
        else
        {
            <ItemsGridHeaderComponent />
        }

        <div class="single-head">
            <div class="row">
                @if (OnFocus is not null)
                {
                    @foreach (var model in Items)
                    {
                        <ItemCardComponent ItemModel="@model"></ItemCardComponent>
                    }
                }
                else
                {
                    @foreach (var model in Items)
                    {
                        <ItemCardComponent ItemModel="@model" />
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- End Items Grid Area -->

@code {

    [Parameter]
    public string OnFocus { get; set; }

    [Inject]
    public HttpClient Http { get; set; }
    
    [Parameter]
    public List<int> SelectedIndexes { get; set; }

    
    public List<ItemModel> ItemModels { get; set; } = new List<ItemModel>();


    public List<ItemModel> Items { get; set; } = new List<ItemModel>();

    protected async override Task OnInitializedAsync()
    {
        ItemModels = await Http.GetFromJsonAsync<List<ItemModel>>("data/data.json");
        
        if(OnFocus != null)
        {
            Items = ItemModels.Where(i => i.Title.Contains(OnFocus)
            || i.Tag.Contains(OnFocus)
            ||
            i.Category.Contains(OnFocus)
            ).ToList();
        }
        else if(SelectedIndexes is not null)
        {
            foreach (var item in SelectedIndexes)
            {
                Items.Add(ItemModels.First(i => i.Id == item));
            }
        }
        else
        {
            Items = ItemModels;
        }
        StateHasChanged();
    }
}