<div class="row">
    <div class="col-12">
        <div class="section-title">
            <h2 class="wow fadeInUp" data-wow-delay=".4s">Последние продукты</h2>
            <p class="wow fadeInUp" data-wow-delay=".6s">Доступно множество вариаций из отрывков Лорем Ипсум, но
                большинство из них в той или иной форме претерпели изменения.</p>
        </div>
    </div>
</div>