<!-- Start Items Grid Area -->
<section class="items-grid section custom-padding">
    <div class="container">
        <ItemsGridHeaderComponent/>

        <div class="single-head">
            <div class="row">
                @foreach (var model in ItemModels)
                {
                    <ItemCardComponent ItemModel="@model" />
                }
            </div>
        </div>
    </div>
</section>
<!-- End Items Grid Area -->