<!-- Start Pricing Table Area -->
<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Наши цены</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Не смотря на то что мы являемся предприятием с самым
                        большим опытом работы на рынке, наши цены значительно выгоднее, чем у других. Вы не ошиблись,
                        выбрав нас!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <span class="duration">ОТ <strong class="amount">$160</strong></span>
                        </div>
                        <h4 class="title">Пергола</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Три различных выбора</li>
                        <li>Пристенная от $160</li>
                        <li>Односторонняя $150</li>
                        <li>Двухсторонняя $220</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button price-list-button">
                        <a class="btn" href="javascript:void(0)">Приобрести</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <span class="duration">ОТ <strong class="amount">$60</strong></span>
                        </div>
                        <h4 class="title">Маркиза</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Открытые от $60</li>
                        <li>Закрытые от $90</li>
                        <li>Витринные от $30</li>
                        <li>Корзынные от $40</li>
                        <li>Парусные от $70</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button price-list-button">
                        <a class="btn" href="javascript:void(0)">Приобрести</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <span class="duration">ОТ <strong class="amount">$73</strong></span>
                        </div>
                        <h4 class="title">Прочее</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Москитные сетки от $35 / м<sup>2</sup> </li>
                        <li>Перила:
                            <br />
                            <span class="text-muted"><strong class="tab">•</strong> из нержавейки от <strong
                                    class="amount">$75</strong></span>
                            <br />
                            <span class="text-muted"><strong class="tab">•</strong> из стекла от <strong
                                    class="amount">$100</strong></span>
                        </li>
                        <li>Мансардные окни от <strong class="amount">$75</strong></li>
                        <li>Раздвижные двери от <strong class="amount">$105</strong></li>
                        <li>Умные замки от <strong class="amount">$70</strong></li>
                        <li></li>
                    </ul>
                    <! -- End Table List -->
                        <!-- Table Bottom -->
                        <div class="button price-list-button">
                            <a class="btn" href="javascript:void(0)">Приобрести</a>
                        </div>
                        <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </div>
</section>
<!--/ End Pricing Table Area -->