<!-- Start Pricing Table Area -->
<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Тарифные планы</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Доступно множество вариаций отрывков из Lorem Ipsum, но
                        большинство из них в той или иной форме претерпели изменения.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <h2 class="amount">$00<span class="duration">/ Месяц</span></h2>
                        </div>
                        <h4 class="title">Бесплатно</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Один листинг</li>
                        <li>Контактный Дисплей</li>
                        <li>Галерея</li>
                        <li>30 Дней Доступности</li>
                        <li>Деловой слоган</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button">
                        <a class="btn" href="javascript:void(0)">Выбрать Тариф</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <h2 class="amount">$59<span class="duration">/ Месяц</span></h2>
                        </div>
                        <h4 class="title">Стандарт</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Один листинг</li>
                        <li>Контактный Дисплей</li>
                        <li>Галерея</li>
                        <li>60 Дней Доступности</li>
                        <li>Деловой слоган</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button">
                        <a class="btn" href="javascript:void(0)">Выбрать Тариф</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <h2 class="amount">$99<span class="duration">/ Месяц</span></h2>
                        </div>
                        <h4 class="title">Премиум</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Один листинг</li>
                        <li>Контактный Дисплей</li>
                        <li>Галерея</li>
                        <li>90 Дней Доступности</li>
                        <li>Деловой слоган</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button">
                        <a class="btn" href="javascript:void(0)">Выбрать Тариф</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </div>
</section>
<!--/ End Pricing Table Area -->