@inject NavigationManager NavigationManager

<!-- Start Search Form -->
<div class="search-form wow fadeInUp" data-wow-delay=".7s">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-4 col-12 p-0">
            <div class="search-input">
                <label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
                <input type="text" name="keyword" @bind-value="@SearchWords" id="keyword"
                    placeholder="Ключевое слово продукта">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-12 p-0">
            <div class="search-btn button">
                <button class="btn" @onclick="OnFocusing"><i class="lni lni-search-alt"></i> Поиск</button>
            </div>
        </div>
    </div>
</div>
<!-- End Search Form -->

@code {
    public string SearchWords { get; set; }

    public string OnFocus { get; set; }

    private void OnFocusing()
    {
        OnFocus = SearchWords;
        NavigationManager.NavigateTo($"/{OnFocus}", forceLoad:true);
    }
}