<div class="col-lg-4 col-md-6 col-12 d-flex flex-nowrap">
    <div class="single-list wow fadeInUp" data-wow-delay=".2s">
        <i class="lni lni-book"></i>
        <h4>@(ItemModel.Title)</h4>
        <p>@(ItemModel.Description)</p>
    </div>
</div>