<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2 class="wow fadeInUp" data-wow-delay=".4s">Why Choose Us</h2>
                <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                    Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="choose-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single List -->
                        <div class="single-list wow fadeInUp" data-wow-delay=".2s">
                            <i class="lni lni-book"></i>
                            <h4>Fully Documented</h4>
                            <p>Buy and sell everything from used cars to mobile phones and computer or search
                                for property.</p>
                        </div>
                        <!-- Start Single List -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single List -->
                        <div class="single-list wow fadeInUp" data-wow-delay=".4s">
                            <i class="lni lni-leaf"></i>
                            <h4>Clean & Modern Design</h4>
                            <p>Buy and sell everything from used cars to mobile phones and computer or search
                                for property.</p>
                        </div>
                        <!-- Start Single List -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single List -->
                        <div class="single-list wow fadeInUp" data-wow-delay=".6s">
                            <i class="lni lni-cog"></i>
                            <h4>Completely Customizable</h4>
                            <p>Buy and sell everything from used cars to mobile phones and computer or search
                                for property.</p>
                        </div>
                        <!-- Start Single List -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single List -->
                        <div class="single-list wow fadeInUp" data-wow-delay=".2s">
                            <i class="lni lni-pointer-up"></i>
                            <h4>User Friendly</h4>
                            <p>Buy and sell everything from used cars to mobile phones and computer or search
                                for property.</p>
                        </div>
                        <!-- Start Single List -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single List -->
                        <div class="single-list wow fadeInUp" data-wow-delay=".4s">
                            <i class="lni lni-layout"></i>
                            <h4>Awesome Layout</h4>
                            <p>Buy and sell everything from used cars to mobile phones and computer or search
                                for property.</p>
                        </div>
                        <!-- Start Single List -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single List -->
                        <div class="single-list wow fadeInUp" data-wow-delay=".6s">
                            <i class="lni lni-laptop-phone"></i>
                            <h4>Fully Responsive</h4>
                            <p>Buy and sell everything from used cars to mobile phones and computer or search
                                for property.</p>
                        </div>
                        <!-- Start Single List -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>