<div class="container">
    <div class="cat-inner">
        <div class="row">
            <div class="col-12 p-0">
                <div class="category-slider">
                    @foreach (var item in categories)
                    {
                        <a href="category.html" class="single-cat">
                            <div class="icon">
                                <img src="@item.IconImage" alt="#">
                            </div>
                            <h3>@item.Title</h3>
                            <h5 class="total">@item.TotalItems</h5>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    List<SingleCategoryItem> categories = new List<SingleCategoryItem>()
{
new SingleCategoryItem()
{
Title = "Часы",
IconImage = "assets/images/categories/watch.svg",
TotalItems = 65,
},
new SingleCategoryItem()
{
Title = "Сумки",
IconImage = "assets/images/categories/travel.svg",
TotalItems = 15,
},
new SingleCategoryItem()
{
Title = "Устройствы",
IconImage = "assets/images/categories/controller.svg",
TotalItems = 44,
},
new SingleCategoryItem()
{
Title = "Образования",
IconImage = "assets/images/categories/education.svg",
TotalItems = 19,
},
new SingleCategoryItem()
{
Title = "Мода",
IconImage = "assets/images/categories/tshirt.svg",
TotalItems = 7,
},
new SingleCategoryItem()
{
Title = "Здоровье & Красота",
IconImage = "assets/images/categories/hospital.svg",
TotalItems = 4,
},
new SingleCategoryItem()
{
Title = "Образования",
IconImage = "assets/images/categories/laptop.svg",
TotalItems = 42,
},
new SingleCategoryItem()
{
Title = "Недвижимость",
IconImage = "assets/images/categories/real-estate.svg",
TotalItems = 34,
},
new SingleCategoryItem()
{
Title = "Работа",
IconImage = "assets/images/categories/jobs.svg",
TotalItems = 8,
},
new SingleCategoryItem()
{
Title = "Мебели",
IconImage = "assets/images/categories/furniture.svg",
TotalItems = 19,
},
new SingleCategoryItem()
{
Title = "Брак",
IconImage = "assets/images/categories/matrimony.svg",
TotalItems = 22,
},
new SingleCategoryItem()
{
Title = "Электроники",
IconImage = "assets/images/categories/laptop.svg",
TotalItems = 26,
},
new SingleCategoryItem()
{
Title = "Транспорты",
IconImage = "assets/images/categories/car.svg",
TotalItems = 14,
}
};
}