<!-- Start Hero Area -->
<section class="hero-area overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="hero-text text-center">
                    <!-- Start Hero Text -->
                    <div class="section-heading">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Тентовые и стеклянные системы для дома</h2>
                        <p class="wow fadeInUp" data-wow-delay=".5s">Мы служим для повышения комфорта и
                            привлекательности вашего дома, офиса и любого здания. <br> Попробуйте честные сделки с нами,
                            качественный товар и быстрое обслуживание!</p>

                    </div>
                    <!-- End Search Form -->
                    <SearchFormComponent></SearchFormComponent>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->