<div class="col-lg-4 col-md-4 col-12">
    <!-- Start Single Work -->
    <div class="single-work wow fadeInUp" data-wow-delay=".2s">
        <span class="serial">@Index.ToString("D2")</span>
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
    </div>
    <!-- End Single Work -->
</div>