<section class="how-works section" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Как мы работаем</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Автоматические солнцезащитные системы для кафе,
                        ресторанов, торговых точек, домов и коттеджей по оптовым ценам от производителя.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var model in Models)
            {
                <HowItWorksCardComponent Index="@(Models.IndexOf(model)+1)" Model="@model" />
            }
        </div>
    </div>
</section>