<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="copyright-text">Developed with ❤️ by 
                              <strong>
                                <a href="http://ilmhub.uz/" rel="nofollow" target="_blank">Ilmhub Team</a>
                              </strong>
                            </p>
                            <ul class="footer-social">
                                <li><a href="#"><i class="lni lni-telegram-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->