<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        <h3>Locations</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a
                                            href="https://yandex.uz/maps/org/ilmhub/63505619587/?ll=69.356294%2C41.337654&z=18.5">Lunacharskiy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/aboutus">About Us</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="/">Home</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                @* <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-contact">
                    <h3>Contact</h3>
                    <ul>
                    <li>23 New Design Str, Lorem Upsum 10<br> Hudson Yards, USA</li>
                    <li>Tel. +(123) 1800-567-8990 <br> Mail. support@classigrids.com</li>
                    </ul>
                    </div>
                    <!-- End Single Widget -->
                    </div> *@
            </div>
        </div>
    </div>
    <!--/ End Footer Middle -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="copyright-text">Developed with ❤️ by <a href="http://ilmhub.uz/" rel="nofollow"
                                    target="_blank">Ilmhub Team</a>
                            </p>
                            <ul class="footer-social">
                                <li><a href="https://t.me/pergola_uz"><i class="lni lni-telegram-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="https://www.instagram.com/pergola.uz/"><i
                                            class="lni lni-instagram-filled"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCJB_EoRangk5ktc8BJQimTw"><i
                                            class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->