<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        <h3>Локации</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a
                                            href="https://yandex.uz/maps/org/ilmhub/63505619587/?ll=69.356294%2C41.337654&z=18.5">Луначарский</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        <h3>Быстрые ссылки</h3>
                        <ul>
                            <li><a href="/aboutus">О нас</a></li>
                            <li><a href="/contactus">Связаться с нами</a></li>
                            <li><a href="#">Категории</a></li>
                            <li><a href="/">Главная</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Middle -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="copyright-text">Разработано совместно с
                                <strong>
                                    <a href="http://ilmhub.uz/" rel="nofollow" target="_blank">Ilmhub Team</a>
                                </strong>
                            </p>
                            <ul class="footer-social">
                                <li><a href="https://t.me/pergola_uz"><i class="lni lni-telegram-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="https://www.instagram.com/pergola.uz/"><i
                                            class="lni lni-instagram-filled"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCJB_EoRangk5ktc8BJQimTw"><i
                                            class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->