<!-- Start Header Area -->
<header class="header navbar-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="nav-inner">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/">
                            <img src="assets/images/logo/IDS_logo.svg" alt="Logo">
                        </a>
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="/">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dd-menu collapsed" onclick="changeVisibilityOfCategories()" onmouseover="changeVisibilityInLarge()">Категории</a>
                                    <ul class="sub-menu collapse" id="category-dropdown">
                                        @foreach (var item in Categories)
                                        {
                                            <li class="nav-item"><a href="categories/@item">@item</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="aboutus">О нас</a>
                                </li>
                            </ul>
                        </div> <!-- navbar collapse -->
                        <div class="button header-button but1466">
                            <a href="/contactus" class="btn">Связаться</a>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</header>
<!-- End Header Area -->