@using System.Text.Json
@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- /End Preloader -->

<Header Categories="@Categories" />

@Body

<Footer />

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

@code {
    public List<ItemModel> ItemModels { get; set; } = new List<ItemModel>();
    
    [Inject]
    public HttpClient Http { get; set; }
    
    public List<string> Categories { get; set; } = new List<string>(){};
    
    
    
    protected override async Task OnInitializedAsync()
    {
        ItemModels = await Http.GetFromJsonAsync<List<ItemModel>>("data/data.json");
        foreach (var item in ItemModels)
        {
            Console.WriteLine($"{JsonSerializer.Serialize(item)} oq'ildi");
            
        }
        Categories.AddRange(ItemModels.Select(i => i.Category).Distinct().ToList());
        StateHasChanged();
    }

     protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("layoutLoaded");
        await base.OnAfterRenderAsync(firstRender);
    }
}
