<div class="row">
    <div class="col-12">
        <div class="section-title">
            <h2 class="wow fadeInUp" data-wow-delay=".4s">Инновационные продукты</h2>
            <p class="wow fadeInUp" data-wow-delay=".6s">Узнайте, как улучшить ваш дом,
                с помощью наших продуктов тщательно подобранного списка высокоэффективных метериалов.</p>
        </div>
    </div>
</div>