@using System.Text.Json
<!-- Start Items Grid Area -->
<section class="items-grid section custom-padding">
    <div class="container">
        @if (Items.Count == 0)
        {
            <ItemsNotFoundComponent />
        }
        else
        {
            <ItemsGridHeaderComponent />
        }

        <div class="single-head">
            <div class="row">
                @foreach (var model in Items)
                {
                    <ItemCardComponent ItemModel="@model" />
                }
            </div>
        </div>
    </div>
</section>
<!-- End Items Grid Area -->

@code {
    [Parameter]
    public List<ItemModel> Items { get; set; }
}