@page "/aboutus"

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">О нас</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/">Главная</a></li>
                    <li>О нас</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start About Area -->
<section class="about-us section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                    <img src="assets/images/about/choose-left.jpg" alt="#">
                    <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                        class="glightbox video"><i class="lni lni-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <!-- content-1 start -->
                <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                    <!-- Heading -->
                    <span class="sub-heading">Познакомимся</span>
                    <h2>
                        О нашей компании</h2>
                    <p>Компания IDS специализируется на изготовлении и реализацией современных решений в сфере автоматических раздвижных крыш "Пергола", вертикально-сдвижных автоматических окон "Гильотина", автоматических раздвижных дверей, фасадных систем, мансардных окон "VELUX", электронных замков, стеклянных офисных перегородок, стеклянных перил и козырков, душевых кабин, тентовых навес "Маркиза", кровельные материалы и многое.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start How Works Area -->
<HowItWorksComponent />
<!-- End How Works Area -->

<!-- Start Achievement Area -->
<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                    <h3 class="counter"><span id="secondo1" class="countup" cup-end="20">20</span>+</h3>
                    <p>Лет опыта</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                    <h3 class="counter"><span id="secondo2" class="countup" cup-end="500">500</span>+</h3>
                    <p>Клиентов</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="10">10</span>+</h3>
                    <p>Сотрудничество с государствами</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="1000">1000</span>+</h3>
                    <p>Ассортимент товаров</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Achievement Area -->

<!-- Start Pricing Table Area -->
<PricingPlanTableComponent />
<!--/ End Pricing Table Area -->