@page "/categories/{Category}"

<!-- Start Items Grid Area -->
<div id="items-grid-area-id">
    <ItemsGridComponent ItemModels="@ReadyModels" />
</div>
<!-- Start Items Grid Area -->


@code
{
    [Parameter]
    public string Category { get; set; } 

    public List<ItemModel> ItemModels { get; set; } = new List<ItemModel>();
    
    [Inject]
    public HttpClient Http { get; set; }

    public List<ItemModel> ReadyModels { get; set; } = new List<ItemModel>();
    
    protected override async Task OnInitializedAsync()
    {
        ItemModels = await Http.GetFromJsonAsync<List<ItemModel>>("data/data.json");
        ReadyModels = ItemModels.Where(i => i.Category == Category).ToList();
        StateHasChanged();
    }
}