@page "/contactus"

<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head wow fadeInUp" data-wow-delay=".4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="single-head">
                        <div class="contant-inner-title">
                            <h2>Biz bilan aloqa</h2>
                            <p></p>
                        </div>
                        <div class="single-info">
                            <h3>Ochilish vaqtlari</h3>
                            <ul>
                                <li>Har kuni: 9.00 – 21.00</li>
                                <li>Yakshanba va bayram kunlaridan tashqari</li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <h3>Bog'lanish uchun</h3>
                            <ul>
                                <li>Buyuk Ipak Yoʻli koʻchasi, 256-A uy</li>
                                <li><a href="mailto:info@yourwebsite.com">manzil@email.com</a></li>
                                <li><a href="tel:(617) 495-9400-326">(998) 99 777 00 33</a></li>
                            </ul>
                        </div>
                        <div class="single-info contact-social">
                            <h3>Ijtimoiy tarmoqlar</h3>
                            <ul>
                                <li><a href="#"><i class="lni lni-telegram-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="form-main">
                        <div class="form-title">
                            <h2>Bog'lanish</h2>
                            <p>Bog'lanish uchun quyida o'z ma'lumotlaringizni va savolingizni qoldiring.</p>
                        </div>
                        <form class="form" method="post" action="assets/mail/mail.php">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="name" type="text" placeholder="Ism va familiyangiz"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="subject" type="text" placeholder="Murojaatingiz mavzusi"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="email" type="email" placeholder="Email manzilingiz"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="phone" type="text" placeholder="Telefon raqamingiz"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group message">
                                        <textarea name="message" placeholder="Xabaringizni shu yerda yozing"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" class="btn ">Yuborish</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>