@page "/contactus"

<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head wow fadeInUp" data-wow-delay=".4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="single-head">
                        <div class="contant-inner-title">
                            <h2>Связаться с нами</h2>
                            <p></p>
                        </div>
                        <div class="single-info">
                            <h3>Время открытие</h3>
                            <ul>
                                <li>Каждый день: 9.00 – 21.00</li>
                                <li>Кроме воскресение и праздничных днях </li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <h3>Связаться с нами </h3>
                            <ul>
                                <li>Улица Buyuk Ipak Yoʻli, 256-A дом</li>
                                <li><a href="mailto:info@yourwebsite.com">manzil@email.com</a></li>
                                <li><a href="tel:(617) 495-9400-326">(998) 99 777 00 33</a></li>
                            </ul>
                        </div>
                        <div class="single-info contact-social">
                            <h3>Социальные медиа</h3>
                            <ul>
                                <li><a href="#"><i class="lni lni-telegram-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="form-main">
                        <div class="form-title">
                            <h2>Связаться</h2>
                            <p>Чтобы связаться пополните эти данные и оставьте вопросы</p>
                        </div>
                        <form class="form" method="post" action="https://script.google.com/macros/s/AKfycbwoCumLGMmXtzHzNVyTzGwnTCZSwUMq0jF2BF6D95XTIVO2bSvrUd5c-eFz5mB0JG2f/exec" target="_blank">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="Fullname" type="text" placeholder="Имя и фамилия" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="Email" type="email" placeholder="Адрес электронной почты"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="Phone" type="text" placeholder="Номер телефона"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input name="Subject" type="text" placeholder="Тема обращения"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group message">
                                        <textarea name="Message" placeholder="Напишите сообщение здесь"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" class="btn ">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>