@page "/"

<HeroAreaComponent></HeroAreaComponent>

<!-- Start Categories Area -->
<section class="categories">
    <CategoriesComponent></CategoriesComponent>
</section>
<!-- /End Categories Area -->


<ItemsGridComponent />

<!-- Start Why Choose Area -->
<section class="why-choose section">
    <WhyChooseUsComponent />
</section>
<!-- /End Why Choose Area -->

<!-- Start Call Action Area -->
<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="content">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Currently You are using free<br>
                            Lite version of ClassiGrids</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Please, purchase full version of the template to
                            get all pages,<br> features and commercial license.</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a href="javascript:void(0)" class="btn">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Call Action Area -->

<!-- Start Pricing Table Area -->
<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Pricing Plan</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <h2 class="amount">$00<span class="duration">/ Month</span></h2>
                        </div>
                        <h4 class="title">Free</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>One Listing</li>
                        <li>Contact Display</li>
                        <li>Image Gallery</li>
                        <li>30 Days Availablity</li>
                        <li>Non-Featured</li>
                        <li>Business Tagline</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button">
                        <a class="btn" href="javascript:void(0)">Select Plan</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <h2 class="amount">$59<span class="duration">/ Month</span></h2>
                        </div>
                        <h4 class="title">Standard</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>One Listing</li>
                        <li>Contact Display</li>
                        <li>Image Gallery</li>
                        <li>60 Days Availablity</li>
                        <li>Non-Featured</li>
                        <li>Business Tagline</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button">
                        <a class="btn" href="javascript:void(0)">Select Plan</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="price">
                            <h2 class="amount">$99<span class="duration">/ Month</span></h2>
                        </div>
                        <h4 class="title">Premium</h4>
                    </div>
                    <!-- End Table Head -->
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>One Listing</li>
                        <li>Contact Display</li>
                        <li>Image Gallery</li>
                        <li>90 Days Availablity</li>
                        <li>Non-Featured</li>
                        <li>Business Tagline</li>
                    </ul>
                    <!-- End Table List -->
                    <!-- Table Bottom -->
                    <div class="button">
                        <a class="btn" href="javascript:void(0)">Select Plan</a>
                    </div>
                    <!-- End Table Bottom -->
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </div>
</section>
<!--/ End Pricing Table Area -->

<!-- Start How Works Area -->
<section class="how-works section" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">How it Works</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Start Single Work -->
                <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                    <span class="serial">01</span>
                    <h3>Create Account</h3>
                    <p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor incididunt labore.</p>
                </div>
                <!-- End Single Work -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Start Single Work -->
                <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                    <span class="serial">02</span>
                    <h3>Post Your Ads</h3>
                    <p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor incididunt labore.</p>
                </div>
                <!-- End Single Work -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Start Single Work -->
                <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                    <span class="serial">03</span>
                    <h3>Sell Your Item</h3>
                    <p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor incididunt labore.</p>
                </div>
                <!-- End Single Work -->
            </div>
        </div>
    </div>
</section>
<!-- End How Works Area -->

<Subscribe />
