@page "/{onFocus}"
@page "/"

<!-- Start Hero Area -->
<HeroAreaComponent></HeroAreaComponent>
<!-- Start Hero Area -->

@if (onFocus is not null)
{
    <ItemsGridComponent OnFocus="@onFocus"></ItemsGridComponent>
}
else
{

    @* <!-- Start Categories Area --> *@
    <section class="categories">
        <CategoriesComponent></CategoriesComponent>
    </section>
    @* <!-- /End Categories Area --> *@


    @* <!-- Start Items Grid Area --> *@
    <ItemsGridComponent></ItemsGridComponent>
    @* <!-- Start Items Grid Area --> *@


    @* <!-- Start Why Choose Area --> *@
    <section class="why-choose section">
        <WhyChooseUsComponent></WhyChooseUsComponent>
    </section>
    @* <!-- /End Why Choose Area --> *@

    @* <!-- Start Call Action Area --> *@
    <section class="call-action overlay section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="inner">
                        <div class="content">
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">В настоящее время вы используете бесплатную
                                <br>Облегченная версию ClassiGrids
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">Пожалуйста, приобретите полную версию шаблона,
                                чтобы получить все страницы,<br>функции и коммерческую лицензию.</p>
                            <div class="button wow fadeInUp" data-wow-delay=".8s">
                                <a href="javascript:void(0)" class="btn">Приобрести сейчас</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @* <!-- End Call Action Area --> *@

    @* <!-- Start Pricing Table Area --> *@
    <PricingPlanTableComponent></PricingPlanTableComponent>
    @* <!--/ End Pricing Table Area --> *@

    @* <!-- Start How Works Area --> *@
    <HowItWorksComponent></HowItWorksComponent>
    @* <!-- End How Works Area --> *@
}

@code {
    [Parameter]
    public string onFocus { get; set; }
}