@page "/"
@page "/search/{onFocus}"

<!-- Start Hero Area -->
<HeroAreaComponent />
<!-- Start Hero Area -->

@if (OnFocus is not null)
{
    <div id="items-grid-area-id">
        <ItemsGridComponent Items="@Items" />
    </div>
}
else
{

    <!-- Start Items Grid Area -->
    <div id="items-grid-area-id">
        <ItemsGridComponent Items="@Items"/>
    </div>
    <!-- Start Items Grid Area -->


    <!-- Start Why Choose Area -->
    <section class="why-choose section">
        <WhyChooseUsComponent />
    </section>
    <!-- End Why Choose Area -->

    <!-- Start Call Action Area -->
    <section class="call-action overlay section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="inner">
                        <div class="content">
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Находясь в постоянном круговороте рутинных дел и
                                рабочих будней, мы часто забываем о самом главном – о семье.
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">А ведь это так важно – проводить время в кругу
                                родных и близких. Такой досуг не только приносит удовольствие
                                и душевное тепло, но и сближает членов семьи друг с другом, помогает решить множество
                                вопросов
                                и на время забыть о всех проблемах.</p>
                            <div class="button wow fadeInUp" data-wow-delay=".8s">
                                <a href="contactus" class="btn">Приобрести сейчас</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call Action Area -->

    <!-- Start Pricing Table Area -->
    <PricingPlanTableComponent />
    <!--/ End Pricing Table Area -->

    <!-- Start How Works Area -->
    <HowItWorksComponent />
    <!-- End How Works Area -->
}

@code {
    [Parameter]
    public string OnFocus { get; set; }
    public List<ItemModel> Items { get; set; }
    
    
    protected override async Task OnParametersSetAsync()
    {
        if(OnFocus is null)
        {
            Items = await Http.GetFromJsonAsync<List<ItemModel>>("data/data.json");
        }
        else
        {
            Items = ItemModels.Where(i => i.Title.Contains(OnFocus)
                    || i.Tag.Contains(OnFocus)
                    ||
                    i.Category.Contains(OnFocus)
                    ).ToList();
        }
    }
}